
.container{
    width: 100vw;
    height: 100vh;
    background: rgb(10, 1, 17);
    background: linear-gradient(90deg, #150320 0%, rgb(163, 2, 2) 50%, rgb(15, 03, 20) 100%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
h1{
    color:#f7f9fc;
    font-size: 1.5rem;
}

.box{
    display:flex;
    flex-direction:column;
    gap:2px;
    background-color: rgba(0, 0, 0, 0.8);
    padding:5px;
    border-radius:5px; 
    align-items: center; 
    
    
}

.display{
    text-align:right;
    margin-bottom: 5px;
    background-color: #f0f8ff;
    color:#150320;
    border: 0 none;
    max-width: 100% ;
    padding-right:2px;
    
}

.teclado{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;
    width:100%;   
    
}

.btn{
    background-image: linear-gradient(45deg, #AA076B 0%, #2c012b );
    color:#f7f9fc;
    opacity: 0.7;
    cursor: pointer;
}

.btn:hover{
    opacity:1;
}

footer{
    text-align: center;
    color:#f7f9fc;
    margin-top:10px;
}